[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
easydash = {editable = true, path = "."}
helpers = {git = "https://bitbucket.org/maxwasylow/helpers.git"}
click = "*"

[dev-packages]

[requires]
python_version = "3.7"
